<ul class="nav navbar-nav ml-auto">
      <% if user_signed_in? %>
  	  <%= link_to destroy_user_session_path, class:'nav-link', method: :delete, data: {confirm: 'Are you sure'} do %>
  	    <span class="icon">Logout <i class="fa fa-sign-out" aria-hidden="true"></i></span>
  	    
  	  <% end %>
  	  <%= image_tag current_user.image , class: "img-circle fb_image" %>
  	  <% else %>
  	  
  	  <%= link_to new_user_session_path, class:'nav-link' do %>
  	    <span class="icon">Sign In <i class="fa fa-sign-in" aria-hidden="true"></i></span>
  	  <% end %>
  	  <% end %>
  	  <% unless current_user %> 
        <%= link_to user_facebook_omniauth_authorize_path, class: "nav-link" do %>
         <span class="icon"><i class="fa fa-facebook"></i></span>
     <% end %>
     <% end %>
    </ul>
  </div>
</nav>